*{
	margin: 0;
	padding: 0;
}

body{
/*	background-color: red;*/
	overflow: hidden;
}

.gamecontainer{
	background-color: white; 
/*	background-image: url(background_img.jpeg);*/
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	width: 100%;
	height: 100vh;
}

.dino{
	background-image: url(dino.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 255px;
	height: 110px;
	position: absolute;
	bottom: 0;
	left: 12px;
}

.obstacle{
	background-image: url(dragon.jpeg);
	background-size: cover;
	width: 166px;
	height: 113px;
	position: absolute;
	bottom: 0;
	left: 44vh;

}

.animateDino{
	animation: dino 0.6s linear;
}

.obstacleAni{
	animation: obstacleAni 5s linear infinite;
}

.gameover{
	position: relative;
	top: 63px;
	font-size: 53px;
	text-align: center;
	font-family: sans-serif;
	visibility: hidden;
}

#scoreCont{
	/*position: absolute;
	left: 23px;
	right: 23px;
	border: 2px solod black;
	padding: 10px;
	font-family: sans-serif;
	width: 112px;*/

	color: #54212f;
	font-weight: bold;
	position: absolute;
	right: 45px;
	top: 31px;
	border: 2px solid black;
	padding: 10px;
	font-family: sans-serif;
}

@keyframes dino{
	0%{
		bottom: 0;
	}
	50%{
		bottom: 422px;
	}
	100%{
		bottom: 0;
	}
}

@keyframes obstacleAni{
	0%{
		left: 100vw;
	}
	100%{
		left: -10vw;
	}
}





*{
	margin: 0;
	padding: p;
}











